@using CRMobil.Web.Models.Cliente;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Cliente
@{
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon"
          type="image/png"
          href="../img/SVG-CRMobil-removebg.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/style-default.css" />
    <link rel="stylesheet" href="~/css/site-crmobil.css" />
    <title>CRMobil - Clientes</title>
</head>
<body>
    <!--Cabeçalho-->
    <partial name="/Views/Shared/_LayoutMenu.cshtml" />

    <!--Form-->
    <section>
        <div class="container mt-5">
            <h4 class="text-light p-2 mb-3 titulo">Cadastro de cliente</h4>
            <form asp-controller="Cliente" asp-action="AdicionaCliente">
                <div class="row">
                    <div class="col-md-3">
                        <label for="cpf_cnpj">Informe o CPF</label>
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   id="cpf_cnpj"
                                   name="cpf"
                                   placeholder="Número do CPF/CNPJ"
                                   aria-label="Placa"
                                   aria-describedby="basic-addon1"
                                   maxlength="14"
                                   asp-for="Cnpj_Cpf"/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="nomeCliente">Nome do cliente</label>
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   id="nomeCliente"
                                   placeholder="Nome do cliente"
                                   aria-label="Nome do cliente"
                                   aria-describedby="basic-addon2"
                                   asp-for="Nome_Cliente" />
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="idDtNascimento">Data nascimento</label>
                        <div class="input-group mb-3">
                            <input type="date"
                                   class="form-control"
                                   id="idDtNascimento"
                                   aria-describedby="basic-addon3 basic-addon4"
                                   asp-for="Data_Nascimento" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div id="app" class="form-group col-md-2">
                        <label for="cep">CEP</label>
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   v-model="cep"
                                   id="cep"
                                   onclick="this.value=''"
                                   maxlength="8"
                                   placeholder="CEP"
                                   value=""
                                   asp-for="Cep" />
                        </div>
                    </div>
                    <!-- INÍCIO DIV CONTEÚDO DO FORM LOGRADOURO -->
                    <div class="form-group col-md-8">
                        <label for="endereco">Endereço</label>
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   id="endereco"
                                   placeholder="Rua, avenida, praça, fazenda..."
                                   asp-for="Logradouro" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="numero">Número</label>
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   id="numero"
                                   placeholder="Número"
                                   asp-for="Numero" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label for="bairro">Bairro</label>
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   id="bairro"
                                   placeholder="Bairro"
                                   asp-for="Bairro" />
                        </div>
                    </div>
                    <div class="col-md-7">
                        <label for="complemento">Complemento</label>
                        <div class="input-group mb-3">
                            <input type="text"
                                   class="form-control"
                                   id="complemento"
                                   placeholder="Apartamento, casa, lote..."
                                   asp-for="Complemento" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <label for="cidade">Cidade</label>
                        <div class="input-group">
                            <input type="text"
                                   class="form-control"
                                   id="cidade"
                                   placeholder="Cidade"
                                   asp-for="Cidade" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="estado">Estado</label>
                        <div class="input-group mb-3">
                            <select id="estado" class="form-select" asp-for="Estado">
                                <option selected>UF...</option>
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AM">AM</option>
                                <option value="AP">AP</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MG">MG</option>
                                <option value="MS">MS</option>
                                <option value="MT">MT</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="PR">PR</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="RS">RS</option>
                                <option value="SC">SC</option>
                                <option value="SE">SE</option>
                                <option value="SP">SP</option>
                                <option value="TO">TO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label for="telefone">Telefone</label>
                        <div class="input-group mb-3">
                            <input type="tel"
                                   class="form-control"
                                   id="telefone"
                                   placeholder="(98) 9999-8888"
                            asp-for="Telefone" />
                        </div>
                    </div>

                    <div class="col-md-2">
                        <label for="celular">Celular</label>
                        <div class="input-group mb-3">
                            <input type="tel"
                                   class="form-control"
                                   id="celular"
                                   placeholder="(98) 98888-7777"
                            asp-for="Celular" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="email">Email</label>
                        <div class="input-group mb-3">
                            <input type="email"
                                   class="form-control email"
                                   id="email"
                                   placeholder="crm.auto@crmauto.com.br"
                            asp-for="Email_Nf" />
                        </div>
                    </div>

                    <div class="col-md-6 mt-3 mb-3 clearfix">
                        <button type="button"
                                class="btn btn-primary float-right"
                                data-toggle="modal"
                                data-target="#editaVeiculo">
                            </i>Salvar
                        </button>
                    </div>
                </div>

                @*<div class="container mt-5 mb-5 text-center">
                    <button type="button" class="btn btn-primary px-3">Salvar</button>
                </div>*@
            </form>
        </div>
    </section>

    <section>
        <!-- GRID LISTA DE VEÍCULOS DO CLIENTE -->
        <partial name="GridVeiculo.cshtml" />
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>

</body>
<!-- carrega script para funcionamento do modal -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</html>