:root {
    --cor-principal: #00385e;
    --cor-segundaria: #0092f7;
    --cor-terciaria: #0074c4;
    --cor-cinza: #e6e6e6;
    --cor-fundo: #ffffff;
  }
  
  
  .my-card {
    background-color: #212529;
    color: #ffffff;
    border-radius: 10px;
  }
  
  .card-body .btn {
    width: 50%;
    position: absolute;
    bottom: 15px;
    background-color: #0B5ED7;
    text-align: center;
  
  }
  
  .card {
    height: 250px;
    border-radius: 5px;
  }
  
  .card-title {
    font-size: 50px;
    margin-top: 5px;
    font-family: "Helvetica", Arial, sans-serif;
  
  }
  
  .card-text {
    margin-top: 10px;
    font-size: larger;
    font-weight: bold;
  
  }
  
  .my-card .card-body .card-title {
    margin-bottom: 5px;
  }
  
  .my-card .card-body .card-text {
    margin-top: 5px;
  }