/*Variáveis*/

:root {
    --cor-principal: #00385e;
    --cor-segundaria: #0092f7;
    --cor-terciaria: #0074c4;
    --cor-cinza: #e6e6e6;
    --cor-fundo: #ffffff;
}

body {
    background: var(--cor-fundo);
}

    body::before {
        display: block;
        content: "";
        height: 60px;
    }
/*Navbar*/
.navbar-nav {
    margin-right: 30px;
}

.navbar-brand {
    color: var(--cor-terciaria);
    font-size: 30px;
    font-weight: bold;
}

    .navbar-brand:hover {
        color: var(--cor-terciaria);
    }

.logo {
    width: 50px;
    margin-right: 10px;
}

.navbar-toggler {
    width: 20px;
    height: 5px;
    position: relative;
    transition: 0.5s ease-in-out;
}

    .navbar-toggler,
    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
        border: 0;
    }

        .navbar-toggler span {
            margin: 0;
            padding: 0;
        }

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--cor-terciaria);
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler .top-bar {
    margin-top: 0;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}
/*Botão Página de Login*/

#btn-login {
    color: var(--cor-terciaria);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

    #btn-login:hover {
        color: var(--cor-cinza);
        transition: 0.2s ease-in-out;
    }

/*Conteúdo Principal*/

.conheca {
    color: var(--cor-terciaria);
    font-weight: bold;
}

/*Newsletter*/

.newsletter {
    background: var(--cor-segundaria);
    font-weight: bold;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

/*Gestão de Atividades*/

.texto-servicos {
    margin-top: 15px;
}

#atualizacao {
    background: var(--cor-principal);
}

.img-servicos {
    max-width: 70%;
}

/*Cientes*/
#clientes {
    background: var(--cor-principal);
}
/*Mapa*/

.mapa {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .mapa iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

/*Footer*/

footer {
    background: var(--cor-principal);
}
