@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--Lista de Serviços-->
<div class="container mt-5">
    <h1 class="text-center mb-5 titulo text-light">Lista de Serviços</h1>
    <div class="table-responsive">
        <table class="table table-striped list">
            <thead>
                <tr class="bg-primary text-light">
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Tempo Previsto-hr</th>
                    <th scope="col">Início</th>
                    <th scope="col">Fim</th>
                    <th scope="col">Serviço Aprovado</th>
                    <th scope="col">Valor Unitário</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="fundo-cinza">
                    <th scope="row">1</th>
                    <td>Troca de Pneu</td>
                    <td class="px-5">4</td>
                    <td class="px-5">1</td>
                    <td>14:00</td>
                    <td>15:00</td>
                    <td class="px-5">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </td>
                    <td>R$ 50,00</td>
                    <td>
                        <button type="button" class="btn">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
                <tr class="bg-light">
                    <th scope="row">2</th>
                    <td>Troca de Pneu</td>
                    <td class="px-5">4</td>
                    <td class="px-5">1</td>
                    <td>14:00</td>
                    <td>15:00</td>
                    <td class="px-5">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </td>
                    <td>R$ 50,00</td>
                    <td>
                        <button type="button" class="btn">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
                <tr class="fundo-cinza">
                    <th scope="row">3</th>
                    <td>Troca de Pneu</td>
                    <td class="px-5">4</td>
                    <td class="px-5">1</td>
                    <td>14:00</td>
                    <td>15:00</td>
                    <td class="px-5">
                        <i class="bi bi-check-circle-fill text-success"></i>
                    </td>
                    <td>R$ 50,00</td>
                    <td>
                        <button type="button" class="btn">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>