@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <h1 class="text-center mb-5 titulo-veiculo text-light">Lista de Peças</h1>
    <div class="table-responsive">
        <table class="table table-striped list">
            <thead>
                <tr class="bg-primary text-light">
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Valor Unitário</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="fundo-cinza">
                    <th scope="row">1</th>
                    <td>Pneu</td>
                    <td class="px-5">4</td>
                    <td class="px-5">Michellin</td>
                    <td>R$ 50,00</td>
                    <td>
                        <button type="button" class="btn">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
                <tr class="bg-light">
                    <th scope="row">2</th>
                    <td>Pneu</td>
                    <td class="px-5">4</td>
                    <td class="px-5">Michellin</td>
                    <td>R$ 50,00</td>
                    <td>
                        <button type="button" class="btn">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
                <tr class="fundo-cinza">
                    <th scope="row">3</th>
                    <td>Pneu</td>
                    <td class="px-5">4</td>
                    <td class="px-5">Michellin</td>
                    <td>R$ 50,00</td>
                    <td>
                        <button type="button" class="btn">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>